/data/
/dataset_small/
/dataset_small1/
/dataset_small1/
*.zip
*.pdf
*.csv
*.log
*.tmp
*.html
*.png
*.jpg
*.jpeg
*.txt
*.gif
*.zip
*.pt
__pycache__/
/output/
dataset_small1/labels/test/4ee3f0e9a2fb20a9.txt
